name: Build
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        go-version: [1.16.x, 1.17.x, 1.18.x, 1.19.x, 1.20.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - run: go version
      - run: go get -t -v ./...
      - run: GOOS=linux go build
      - run: GOOS=darwin go build
      - run: GOOS=freebsd go build
      - run: GOOS=windows go build
      - run: GOARCH=386 go build
